<div class="row justify-content-center">
  <div class="col-6 p-4 mt-xxl-5 mb-xxl-5" style="border-radius: 5px; background-color: white">
    <h2>Registreren</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

      <div class="row">
        <div class="form-group col-6">
          <label>Voornaam</label>
          <input class="form-control" id="firstName" formControlName="firstName" name="firstName">
          <span class="text-danger" *ngIf="registerForm.controls['firstName'].dirty && registerForm.getError('required', 'firstName')">*Verplicht.</span>
        </div>

        <div class="form-group col-6">
          <label>Achternaam</label>
          <input class="form-control" id="lastName" formControlName="lastName" name="lastName">
          <span class="text-danger" *ngIf="registerForm.controls['lastName'].dirty && registerForm.getError('required', 'lastName')">*Verplicht.</span>
        </div>
      </div>

      <div class="row">
        <div class="form-group mt-2">
          <label>Email</label>
          <input class="form-control" id="email" formControlName="email" name="email" type="email">
          <span class="text-danger" *ngIf="registerForm.controls['email'].dirty && registerForm.getError('required', 'email')">*Verplicht.</span>
        </div>
      </div>

      <div class="row">
        <div class="form-group mt-2 col-6">
          <label>Wachtwoord</label>
          <div class="input-group">
            <input class="form-control" id="password" formControlName="password" name="firstName"
                   [type]="showPassword? 'text' : 'password'" [style]=" formControls['password'].dirty ? 'border-right: 0': null">
            <div class="input-group-text" style="background: transparent; border-left: 0" *ngIf="formControls['password'].dirty">
              <i (click)="onShowPasswordClick()" [class]="showPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" style="cursor: pointer"></i>
            </div>
          </div>
          <span class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.getError('required', 'password')">*Verplicht.</span>
          <span class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.getError('minlength', 'password')">*Minimaal 6 tekens lang.</span>
        </div>

        <div class="form-group mt-2 col-6">
          <label>Herhaal wachtwoord</label>
          <div class="input-group">
            <input class="form-control" id="repeatPassword" formControlName="repeatPassword" name="repeatPassword"
                   [type]="showRepeatPassword? 'text' : 'password'" (keyup)="checkPasswordMatching()"
                   [style]=" formControls['repeatPassword'].dirty ? 'border-right: 0': null">
            <div class="input-group-text" style="background: transparent; border-left: 0"
                 *ngIf="formControls['repeatPassword'].dirty">
              <i (click)="onShowRepeatPasswordClick()" [class]="showRepeatPassword ? 'bi bi-eye-fill' : 'bi bi-eye-slash-fill'" style="cursor: pointer"></i>
            </div>
          </div>
          <span class="text-danger row" *ngIf="formControls['repeatPassword'].getError('required') && formControls['repeatPassword'].dirty">*Verplicht.</span>
          <span class="text-danger row" *ngIf="passwordMatches === false && formControls['repeatPassword'].dirty">*De wachtwoorden komen niet overeen.</span>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <button class="btn btn-success mt-2" type="submit" [disabled]="registerForm.invalid || !passwordMatches">Registreren</button>
        </div>
      </div>

    </form>
  </div>
</div>

