<div class="row justify-content-center">
  <div class="col-6 p-4 mt-xxl-5 mb-xxl-5" style="border-radius: 5px; background-color: white">
    <h2>Registreren</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">

      <div class="row">
        <div class="form-group col-6">
          <label>Voornaam</label>
          <input class="form-control" id="firstName" formControlName="firstName" name="firstName">
          <span class="text-danger" *ngIf="form.controls['firstName'].dirty && form.getError('required', 'firstName')">*Verplicht.</span>
        </div>

        <div class="form-group col-6">
          <label>Achternaam</label>
          <input class="form-control" id="lastName" formControlName="lastName" name="lastName">
          <span class="text-danger" *ngIf="form.controls['lastName'].dirty && form.getError('required', 'lastName')">*Verplicht.</span>
        </div>
      </div>

      <div class="row">
        <div class="form-group mt-2">
          <label>Email</label>
          <input class="form-control" id="email" formControlName="email" name="email" type="email">
          <span class="text-danger" *ngIf="form.controls['email'].dirty && form.getError('required', 'email')">*Verplicht.</span>
        </div>
      </div>

      <div class="row">
        <div class="form-group mt-2 col-6">
          <label>Wachtwoord</label>
          <input class="form-control" id="password" formControlName="password" name="password" type="password">
          <span class="text-danger" *ngIf="form.controls['password'].dirty && form.getError('required', 'password')">*Verplicht.</span>
          <span class="text-danger" *ngIf="form.controls['password'].dirty && form.getError('minlength', 'password')">*Minimaal 8 tekens lang.</span>
        </div>

        <div class="form-group mt-2 col-6">
          <label>Herhaal wachtwoord</label>
          <input class="form-control" id="repeatPassword" formControlName="repeatPassword" name="repeatPassword" type="password" (keyup)="onMatching()">
          <span class="text-danger row" *ngIf="f['repeatPassword'].getError('required') && f['repeatPassword'].dirty">*Verplicht.</span>
          <span class="text-danger row" *ngIf="matches === false && f['repeatPassword'].dirty">*De wachtwoorden komen niet overeen.</span>
        </div>
      </div>

      <div class="row">
        <div class="col-3">
          <button class="btn btn-success mt-2" type="submit" [disabled]="form.invalid || !matches">Registreren</button>
        </div>

      </div>

    </form>
  </div>
</div>

