<div class="mt-xxl-5 pb-4">

  <!--  header-->
  <div class="row p-4" style="background-color: white; border-radius: 5px">
    <div class="row">
      <div class="col-auto">
        <h1>Plan je reis</h1>
        <h2 *ngIf="authService.isLoggedIn$ | async">Welkom {{user.firstName}} {{user.lastName}}.</h2>
      </div>
    </div>


    <!--    input form-->
    <div class="row justify-content-center">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div class="row mb-3">
          <div class="input-group col-md">
            <span class="input-group-text">van</span>
            <input id="fromStation" type="text" formControlName="fromStation" name="fromStation" class="form-control"
                   [matAutocomplete]="fromStationAuto">
          </div>
          <div class="col-auto align-self-center">
            <i class="bi bi-arrow-left-right" (click)="onSwap()"></i>
          </div>
          <div class="input-group col-md">
            <span class="input-group-text">naar</span>
            <input id="toStation" type="text" formControlName="toStation" name="toStation" class="form-control"
                   [matAutocomplete]="toStationAuto">
          </div>
        </div>


        <mat-autocomplete #fromStationAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredFrom | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>

        <mat-autocomplete #toStationAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredTo | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>

        <div class="row">

          <div class="col-auto" style="padding-right: 0">
            <button class="btn" [ngClass]="{'btn-primary': !isArrival,'btn-light': isArrival}"
                    (click)="changeIsArrival(false)" style="border-radius: 5px 0 0 5px">Vertrek
            </button>
          </div>

          <div class="col-auto" style="padding-left: 0">
            <button class="btn" [ngClass]="{'btn-primary': isArrival,'btn-light': !isArrival}"
                    (click)="changeIsArrival(true)" style="border-radius: 0 5px 5px 0">Aankomst
            </button>
          </div>


          <div class="col-auto">
            <input type="date" id="tripDate" formControlName="tripDate" name="tripDate" class="form-control">
          </div>

          <div class="col-auto">
            <input type="time" id="tripTime" formControlName="tripTime" name="tripTime" class="form-control">
          </div>

          <div class="col-auto align-self-center" (click)="onReset()">
            <div class="btn">
              <div class="row">
                <i class="bi bi-arrow-repeat col-auto p-0 m-0 h5"></i>
                <p class="col-auto p-0 m-0 h5">Nu</p>
              </div>
            </div>

          </div>
          <div class="col-auto ms-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row pt-4">
    <!--    shows trips on side-->
    <ng-container *ngIf="foundTrips">
      <ul class="col-4 list-group">
        <div class="list-group-item list-group-item-action p-3" *ngFor="let trip of foundTrips; let i = index"
             [attr.data-index]="i" style="list-style: none" (click)="onSelectingTrip(i)">
          <div>
            {{ trip.legs[0].origin.plannedDateTime | date : "HH:mm"}}
            <i class="bi bi-arrow-right"></i>
            {{ trip.legs[trip.legs.length - 1].destination.plannedDateTime | date : "HH:mm"}}
          </div>
          <div>
            {{trip.plannedDurationInMinutes}} minuten
          </div>
        </div>
      </ul>

    </ng-container>

    <!--    code for the selected trip-->
    <ng-container *ngIf="_selectedTrip">
      <div class="col ms-auto p-4" style="background-color: white; border-radius: 5px" *ngIf="_selectedTrip">
        <app-trip-view [selectedTrip]="_selectedTrip"></app-trip-view>
      </div>
    </ng-container>
  </div>
</div>


